.blue-lighten-1 {
    color: #42a5f5 ;
    background-color: #42a5f5 ;
    border-color: #42a5f5 ;
}

.blue-lighten-2 {
    color: #64b5f6;
    background-color: #64b5f6;
    border-color: #64b5f6;
}

.blue-lighten-3 {
    color: #90caf9;
    background-color: #90caf9;
    border-color: #46b8da;
}

.blue-lighten-4 {
    color: #bbdefb;
    background-color: #bbdefb;
    border-color: #bbdefb;
}

.blue-lighten-5 {
    color: #e3f2fd;
    background-color: #e3f2fd;
    border-color: #ffffff;
}





.indigo-lighten-1 {
    color: #5c6bc0  ;
    background-color: #5c6bc0  ;
    border-color: #5c6bc0  ;
}

.indigo-lighten-2 {
    color: #7986cb ;
    background-color: #7986cb ;
    border-color: #7986cb ;
}

.indigo-lighten-3 {
    color: #9fa8da ;
    background-color: #9fa8da ;
    border-color: #9fa8da ;
}




.deep-purple-lighten-1 {
    color: #7e57c2 ;
    background-color: #7e57c2  ;
    border-color: #7e57c2;
}

.deep-purple-lighten-2 {
    color: #9575cd ;
    background-color: #9575cd;
    border-color: #9575cd;
}

.deep-purple-lighten-3 {
    color: #b39ddb;
    background-color: #b39ddb;
    border-color: #b39ddb;
}

.cyan-lighten-1 {
    color: #26c6da ;
    background-color: #26c6da ;
    border-color: #26c6da ;
}

.cyan-lighten-2 {
    color: #4dd0e1;
    background-color: #4dd0e1;
    border-color: #4dd0e1;
}

.cyan-lighten-3 {
    color: #80deea;
    background-color: #80deea;
    border-color: #80deea;
}

.cyan-lighten-4 {
    color: #b2ebf2;
    background-color: #b2ebf2;
    border-color: #ffffff;
}






.teal-lighten-1{
    color: #26a69a ;
    background-color: #26a69a ;
    border-color: #26a69a ;
}

.teal-lighten-2{
    color: #4db6ac;
    background-color: #4db6ac ;
    border-color: #4db6ac ;
}

.teal-lighten-3{
    color: #80cbc4;
    background-color: #80cbc4;
    border-color: #80cbc4;
}

.teal-lighten-4{
    color: #b2dfdb;
    background-color: #b2dfdb;
    border-color: #b2dfdb;

}



